@keyframes fade{
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 0;}
}
.notification{
    width: 100%;
    padding: .5em;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    bottom: -200px;
    z-index: 10;
    transition: 1s ease-in;
}
.notification h4{
    color: #fff;
    font-size: larger;
    text-transform: capitalize;
}
.show{
  bottom: 3em;
}
.success{
    background-color: rgba(71, 231, 71, 0.418);
    border: 2px solid green;

}
.failed{
    background-color: rgba(250, 61, 61, 0.418);
    border: 2px solid red;
}
span{
    cursor: pointer;
}
@media  screen and (min-width: 600px) {
    .notification{
        right: 1em;
        width: 300px;
        height: 130px;
    }
}
