.edit-user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;

}
.update-form h2{
    text-align: center;
}
.edit-user-container .update-form{
    padding-top:3em;
    width: 100%;
}
.update-form div{
    margin: 1em;
}
.update-form #form-dropdown{
    width: 100%;
    display: flex;
    justify-content:center;
    margin: 0;
}
.update-form #form-dropdown select{
    font-size:1em;
    padding: .2em 0;
    /* border: 1px solid grey; */
}
.update-form input{
    width: 100%;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid rgba(152, 149, 223, 0.527);
    font-size:1em;
    outline: none;
    transition: .2s;
}
/* .update-form input::before{
    content: '';
    border: none;
    border-radius: 4px;
} */

.update-form input:focus{
    border-bottom: 1px solid rgb(117, 113, 228);
    background: rgba(117, 113, 228, 0.151);

}
.update-form div:last-child{
    display: flex;
}
.edit-user-container .btn{
   margin: 0 auto;
}

@media screen and (min-width:600px) {
    
    .update-form {
        width: 500px;
        border-radius: 10px;
    }
    .update-form input{
        width: 100%;
    }
    
}
@media screen and (min-width:700px) {
    .update-form {
        margin: 0 auto;
    } 
    
}
@media screen and (min-width:800px) {
    .update-form {
        padding: 0 20%;
    }
    .forms .container{
        flex-direction: row;
        align-items: flex-start;
        padding: 3em 0;
    }
    .forms .container .line{
        display: block;
    }
}