.all-users-container {
    width: 100%;
    padding: 2em 1em;
    margin-top: 5em;

}
.all-users{
    width: 100%;
    padding: 2em 1em;
    background: #e2f2f58e;
    border-radius: 10px;
    overflow-x: auto;
}
.all-users-container  .user{
    width: 100%;
    height: 7vh;
}
.all-users table{
    border-collapse: collapse;
    width: 100%;
}
.all-users table thead{
    background: rgb(24, 73, 179);
    text-align: center;
}
.all-users table th{
    padding: 1em 0;
    color: azure;
}
.all-users table td{
    padding: .2em 0;
    text-align: center;
}
th, td {
    border-bottom: 1px solid #ddd;
}
tr:hover{
    background-color: rgba(90, 188, 226, 0.274);
}
.all-users h2{
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 2px solid rgba(27, 27, 172, 0.74);
    max-width: 9em;
}

@media (min-width:600px) {

    .all-users-container{
        padding: 3em;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .all-users{
        margin: 0 auto;
        width: 100%;
    }
    
.all-users-container  .user .manage-buttons{
    display: flex;
    width: 20%;
    justify-content: flex-end;
}
    .all-users-container  .user .manage-buttons span:not(.all-users-container .user .manage-buttons span:last-child){
        margin-right: 7%;
    }
    
}
  
