
.duser-ashboard-container{
    display: block;

}
.user-dashboard-container .side-bar{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;

}
.user-dashboard-container .side-bar .profile{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding:1em;
}
.user-dashboard-container .side-bar .profile,
.user-dashboard-container .side-bar .details,
.user-dashboard-container .content .buttons{
    border: 1px solid rgb(228, 220, 220);
    border-radius: 10px;
    background-color: white;
}
.user-dashboard-container .side-bar .details{
    padding: 0 1em 1em 1em;
    margin-top: 1em;
    
}

.user-dashboard-container .side-bar .profile-name{
    text-align: center;
    margin: 0 auto;
    
}
.user-dashboard-container .side-bar li {
    margin-top: 1em;
}
.user-dashboard-container .side-bar div {
    width: 100%;
}
img[alt="profile-img"]{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    border: 2px solid rgb(132, 130, 247);
    padding: .11em;
}
.user-dashboard-container .side-bar #subscribe{
    color: green;
}
.user-dashboard-container .side-bar #unsubscribe{
    color: rgb(238, 99, 99);
}

.user-dashboard-container .content .buttons{
    background-color: beige;
    padding: 1em;
    margin: 1em;
}
.user-dashboard-container .content .sub-content{
    width: 93%;
    margin: 0 auto 1em auto;

}
.user-dashboard-container .content .buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-dashboard-container .content .buttons .btn{
    width: 100%;
    margin: .2em 0;
    text-align: center;
}


@media (min-width:600px) {
    .user-dashboard-container{
        display: flex;
        padding: 0 2em;
    
    }
   
    .user-dashboard-container .side-bar{
        width: 40%;
    }
    .user-dashboard-container .content{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "buttons"
                               "car" 
                             "service";
    }
    .user-dashboard-container .content .buttons{
       grid-area: buttons;
    }
    .user-dashboard-container .content .car-list{
       grid-area: car;
    }
    .user-dashboard-container .content .service-section{
        grid-area: service;
    }
}
@media (min-width:800px) {
    .user-dashboard-container{
        display: flex;
        padding: 0 3em;
    
    }
    .user-dashboard-container .side-bar{
        width: 30%;
    }
    .user-dashboard-container .content{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "buttons buttons"
                             "car service";
    }
    .user-dashboard-container .content .buttons{
       grid-area: buttons;
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
    }
    .user-dashboard-container .content .buttons .btn{
        width: 30%;
    }
    .user-dashboard-container .content .car-list{
       grid-area: car;
    }
    .user-dashboard-container .content .service-section{
        grid-area: service;
    }
}
@media (min-width:1042px) {
    .user-dashboard-container{
        padding: 0 4em;
    }
 
}