.carlist-section{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 1em;
    background-color: aliceblue;
    margin-top: 5em;

}
.carlist-section h1{
    font-size: 2em;
    opacity: .7;
    margin-bottom: .5em;
}
.carlist-section .card{
    display:flex;
    flex-direction: column;
    border: 3px solid rgb(219, 219, 219);
    border-radius: 8px;
    margin-top: 1em;
    padding: 0 1em;
}
#subscription-plan{
    text-transform: capitalize;
    color: darkcyan;
    margin-left: .2em;
}
.carlist-section .card-body .card-img{
    width: 100%;
}
.carlist-section .card-body .card-details h3{
    margin: .5em 0;
}

.carlist-section .card-body .card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    border: 5px solid rgba(0, 139, 139, 0.363);
    padding: .5em;
    border-radius: 8px;
    background-color: rgba(152, 236, 236, 0.24);
    
}
.carlist-section .card .card-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.carlist-section .carlist-cards .no-user{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.carlist-section .carlist-cards{
    justify-self: center;
    align-self: center;
}
.carlist-section .car-container{
    display: flex;
    flex-direction: column;
}
.carlist-section .carlist-cards .refresh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    padding: .5em;
}
.carlist-section .card .card-footer .danger-zone{
    border: 1px solid rgba(236, 27, 27, 0.404);
    padding: .5em;
    border-radius: 8px;

}
.carlist-section .card .card-footer .btn:first-child,
.carlist-section .card .card-footer .danger-zone .btn:first-child
{
    margin-right: 1em;
}
.carlist-section .card .card-body .card-img img{
    min-height: 200px;
    width: 100%;
    border-radius: 8px;
}
.carlist-section .card .card-footer{
    margin-top:1em;
}
@media screen and (min-width:600px) {
    
    .carlist-section .car-container .carlist-cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .carlist-section .card-body .card-img{
        max-width: 350px;
    }
    .carlist-section .card{
        margin: .5em;
    }
}
@media screen and (min-width:900px) {
    .carlist-section  .car-container .carlist-cards{
        grid-template-columns: repeat(3, 1fr);
    }
    .carlist-section .car-container{
        padding: 0 3em;
    }
}