
.dashboard-container{
    display: block;

}
.dashboard-container .side-bar{
    width: 100%;
    display: flex;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 1em;
    margin: 1em 0;

}
.dashboard-container .side-bar .prof{
    width: 100%;
    text-align: center;
    max-height: 100px;
}
.dashboard-container .side-bar .prof,
.dashboard-container .side-bar .details,
.dashboard-container .content .buttons{
    border: 1px solid rgb(228, 220, 220);
    border-radius: 10px;
    background-color: white;
}
.dashboard-container .side-bar .details{
    padding: 0 1em 1em 1em;
    margin-top: 1em;
    
}
.dashboard-container .side-bar .names{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1em;
}
.dashboard-container .side-bar .names h3{
    font-size: 1.4em;
    text-transform: capitalize;

}
.dashboard-container .side-bar li {
    margin-top: 1em;
}
.dashboard-container .side-bar div {
    width: 100%;
}

.dashboard-container .side-bar #subscribe{
    color: green;
}
.dashboard-container .side-bar #unsubscribe{
    color: rgb(240, 105, 105);
}
.dashboard-container .content .buttons{
    background-color: beige;
    padding: 1em;
    margin: 1em;
}
.dashboard-container .content .sub-content{
    width: 93%;
    margin: 0 auto 1em auto;

}
    .dashboard-container .content .buttons{
        display: flex;
        flex-direction: column;
    }
    .dashboard-container .content .buttons .btn{
        width: 100%;
        margin: .3em 0;
        text-align: center;
    }



@media (min-width:800px) {
    .dashboard-container{
        display: flex;
        padding: 0 2em;
    
    }
    .dashboard-container .side-bar{
        width: 40%;
    }
    .dashboard-container .content{
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: "buttons"
                               "car" 
                             "service";
    }
    /* .dashboard-container .content .buttons{
       grid-area: buttons;
       display: flex;
        justify-content: space-around;
        align-items: center;
    } */
    .dashboard-container .content .car-list{
       grid-area: car;
    }
    
    
    .dashboard-container .content .service-section{
        grid-area: service;
    }
    
}

@media (min-width:950px) {
    .dashboard-container{
        padding: 0 3em;
    
    }
    .dashboard-container .side-bar{
        width: 30%;
    }
    .dashboard-container .content{
        width: 70%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "buttons buttons"
                             "car service";
    }
    .dashboard-container .content .buttons{
       grid-area: buttons;
    }
    .dashboard-container .content .buttons{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }.dashboard-container .content .buttons .btn{
        width: 30%;
    }
    .dashboard-container .content .car-list{
       grid-area: car;
    }
    .dashboard-container .content .service-section{
        grid-area: service;
    }
}
@media (min-width:1042px) {
    .dashboard-container{
        padding: 0 4em;
    }
 
}