
a{
    text-decoration: none;
}
.icon-con{
    padding: .3em .5em;
}
.icon-con:hover{
    background: rgba(33, 19, 80, 0.527);
    border-radius: 2px;
}
.nav-icon{
    margin-right: .1em;
    margin-bottom: -.1em;
}
.fill-white{
    fill: #fff;
}
.message{
    max-width: 500px;
    border-radius:10px;
    border: 1px solid gainsboro;
    padding: 1em;
    text-align: center;
    transition: ease-in .5s;
}
.message h4{
   margin-bottom: 1.5em;
}
img[alt="profile-img"]{
    height: 50px;
    border-radius: 50%;
    width: 50px;
    border: 2px solid rgb(132, 130, 247);
    padding: .11em;
}

@media screen and (max-width:600px){
    
    .mobile-hide{
        display: none;
    }
 
}